<div class="container center span8 well">
<h2><%=t 'welcome.h2' %></h2>
<h3><%=t 'welcome.h3' %></h3>
<br />
<h4>
  <%=t 'welcome.h4' %>
</h4>

<p>
  <%=t 'welcome.p-questions' %>
</p>

<p>
	<%= link_to t("welcome.button-register"),new_user_registration_path, :class => 'btn btn-primary btn-large' %>
	<%= link_to t("welcome.button-login"), new_user_session_path, :class => 'btn btn-large' %>
</p>

<p>
  <%=t 'welcome.p-registration' %>
</p>
<hr />
<ul>
	<li> <%=t 'welcome.already_registered_wrong.html' %> </li> 
	<li> <%=t 'welcome.questions_problems.html' %> </li> 
</ul>
</div>
