<div id='ask_question'>
  <div class="center">
    <div id="question_form">
      <div class="row center span8"> <h2>The course is over and you still have a question?</h2></div>
      <%= render :partial => 'posts/form', :locals => { :post => Post.new }%>
    </div>
  </div>
</div>

<section id="new_events">
  <div class="center span8">
    <h2>Current events in auditorium
    <p class="pull-right">
      <% if can? :manage, @events %>
        <%= link_to 'Create new event', new_event_path, class: 'btn btn-small' %>
      <% end %>
    </p>
    </h2>

    <p class="hint"><%= link_to 'Show all events', events_path, class: 'link' %></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>What?</th>
          <th>When?</th>
          <th>Course</th>
          <th>Lecturer</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><b><%= link_to event.event_type.capitalize, event %></b></td>
          <td>
            <%= "#{l(event.beginDate, format: :long)}" %><br />
            <%= "From #{event.beginTime}" if event.beginTime.presence %><%= event.endTime.presence ? " to #{event.endTime}" : " (open end)" %>
          </td>
          <td><%= link_to event.course.name, event.course %></td>
          <td><%= event.tutor.full_name %></td>
          <% if can? :manage, event.course %>
            <td><%= link_to 'Edit', edit_event_path(event) %></td>
            <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>

<hr />

<section id="activity">
  <div class="center span8">
    <h2>Recent activity
      <%= link_to 'Ask a question', '#', class: 'btn btn-primary', id: 'show_question_form' %>
      <small><%= link_to content_tag('span', ' filter activity stream', class: 'icon-tags'), '#', class: 'btn btn-link pull-right', :id => 'filter' %></small>
    </h2>

    <%= render 'posts/filter_box' %>
	  
    <%= render :partial => 'posts/posts_stream'%>

    Still can't find your question? <%= link_to "Submit your question.", '#', id: 'show_question_form' %>
    <%= paginate @posts %> 
  </div>
</section>