		<div class="fields">
		<label class="category-select">
            <%= f.check_box :is_correct %>
  			answer is correct
  			<span class="pull-right">
  				Version:
          <%= f.object.version %>
        	</span>
		</label>
        <label for="answertext" class="accessibility"> answer of the poll</label>
        <%= f.text_field :answertext, :placeholder => "a possible answer...", :class => "span8" , :id => 'choices'%>
        <label for="feedback" class="accessibility"> feedback of the poll</label>
        <%= f.text_field :feedback, :placeholder => "a possible feedback...", :class => "span8" %>
          <p> activate feedback on slide: 
            <% if f.object.on_slide %> 
              <%= f.object.on_slide %> 
            <% else %>
                not selected yet 
            <% end %>
          </p>
        <%= link_to_remove_fields "remove", f, {:class => "pull-right"} %>
    	<br>
    	<br>
      <br>
    	</div>