<h2>
  <%= @poll.questiontext %>
</h2>
  <% %>
  <%= link_to content_tag('span', 'edit', :class=>'icon-edit') , edit_poll_path(@poll)  %> <br>
  <%= link_to content_tag('span', 'new poll', :class=>'icon-plus') , new_poll_path()  %> <br>
  <%= link_to content_tag('span', 'view event', :class=>'icon-eye') , @event  %> <br>

  <h3>Preferences:</h3>
<p>
  <strong>Time to answer:</strong>  <%= @poll.time_to_answer %><br>
  <strong>Poll available?:</strong>  <%= @poll.poll_enabled %><br>
  <strong>Result available?:</strong>  <%= @poll.result_enabled %><br>
  <strong>activated on Presentation Slide id:</strong>  <%= @poll.on_slide %><br>
</p>


<% if !@poll.choices.empty? %>
  <h3>Answers:</h3>
<p>
    <% i = 0 %>
	<% @poll.choices.sort_by(&:position).each do |c| %>
			<% i = i+1 %>
			<p>
			  <strong> Answer <%= i %>:</strong> <%= c.answertext %><br>
              <%= c.is_correct ? "is correct" : "is not correct" %><br>
              Feedback: <%= c.feedback %><br>
              activation slide <%= c.on_slide %><br>
          </p>
    <% end %>
</p>
<% end %>

<% if !@poll.poll_rules.empty? %>
<h3>Recipients:</h3>
<ul>
	<% @poll.poll_rules.sort_by(&:position).each do |pr| %>
		<li>
			<strong>Poll:</strong> <%= pr.choice.poll.questiontext %><br>
			<strong>answered with:</strong> <%= pr.choice.answertext %>
		</li>
	<% end %>
</ul>
<% end %>
