<p id="notice"><%= notice %></p>

<h3>Poll Information</h3>

<p>
  <strong>Text:</strong><br>
  <%= @poll.questiontext %><br>
  <strong>Additional:</strong><br>
  <%= @poll.time_to_answer %><br>
  <%= @poll.poll_enabled %><br>
  <%= @poll.result_enabled %><br>
  <%= @poll.slide_id %><br>
  <%= @poll.version %><br>
</p>

<p>
  <strong>Answers:</strong><br>
    <% i = 0 %>
	<% @poll.choices.each do |c| %>
			<% i = i+1 %>
			<p>
			  Answer <%= i %> <br>
              <%= c.answertext %><br>
              <%= c.is_correct ? "is correct" : "is not correct" %>
          </p>
    <% end %>
</p>
 
 
 
<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>