<script src="/assets/sparklines.js"></script>
<script>
function actualize(eId) {
	var url = "/poll_results/refresh/"+eId;
	jQuery.get(
	url,
	{},
	function(s){
		var r = s;
		for(q in r){
			if(r[q].text){
				var snippet = "";
				var pie = [];
				var pieValues = [];
				var pieColors = [];
				var decisive = false;
				var firstCorrect = r[q].choices[0].correct;
				
				for(c in r[q].choices) if(r[q].choices[c].text){
					if(r[q].total > 0){
					pieValues.push({correct:r[q].choices[c].correct,value:r[q].choices[c].count});
					if(firstCorrect!=r[q].choices[c].correct)
						decisive = true;
						}

					snippet += '<div class="poll-result">';
					snippet += '</div>';
				}
				
				
				if(r[q].total > 0)for(i in pieValues){
					if(decisive){
						var j = (pieValues[i].correct)?0:1;
						pie[j] =  (pie[j]==undefined)?pieValues[i].value:pie[j]+pieValues[i].value;
					} else {
						pie.push(pieValues[i].value)
					}
				}
				if(r[q].total > 0)
					snippet +=  '<span class="sparklines" values="'+pie.join(",")+'" decisive="'+decisive+'"></span>'
				else
					snippet += 'no result yet.'
				jQuery("#poll_result_"+q).html(snippet);
				
			}
		}
		jQuery(".sparklines").each(function(idx){
			var dec = (jQuery(this).attr("decisive")=="true")?true:false;
			jQuery(this).sparkline('html',{ width : '100', height : '100', type : 'pie', sliceColors:((dec)? ["00ff00","#ff0000"] : undefined)})
		});
	});
	setTimeout(function(){actualize(eId)},1500);
}
jQuery(function(){
	actualize(<%=@event.id%>);
});
</script>


<h2> <%= @event.event_type.capitalize  %> on <%= @event.beginDate %> </h2>

<div class="row">
	

		<h3> Description </h3>
		<table class="show_table">
			<tr class="show_tr">
				
				<td class="show_td"><h3><%= @event.course.name %></h3></td>
			</tr>
			<tr class="show_tr">
				<td class="show_td"> <strong>Tutor</strong> </td>
				<td><%= @event.tutor.full_name  %></td>
			</tr>
			<tr class="show_tr">
				<td class="show_td"> <strong>Weekday</strong> </td>
				<td><%= @event.weekday %> in <%= @event.week %> </td>
			</tr>
			<tr class="show_tr">
				<td class="show_td"> <strong>Date</strong> </td>
				<td>
					<% if @event.beginDate == @event.endDate %>
  						<%= @event.beginDate %>
					<% else %>
  						<%= "from #{@event.beginDate} to #{@event.endDate}" %> 
					<% end %>
				</td>
			</tr>
			<tr class="show_tr">
				<td class="show_td"> <strong>Place</strong> </td>
				<td><%= @event.building %> <%= @event.room %></td>
			</tr>
			<tr class="show_tr">
				<td class="show_td"> <strong>Website</strong> </td>
				<td><%= @event.url %></td>
			</tr>
			
							
			
		</table>
		<table>
		<tr>
		<% if can? :manage, @course%>

    				<td class="show_btn"><%= link_to content_tag('span', ' Add new event', :class=> 'icon-plus'), new_event_path()  %></td>
    				<td class="show_btn"><%= link_to content_tag('span', ' edit event', :class=>'icon-edit'), edit_event_path(@event) %></td>
    				<td class="show_btn"><%= link_to content_tag('span', ' delete event', :class=>'icon-trash'), @event, confirm: 'Are you sure that you want to delete this event?', method: :delete %></td>
    				<td class="show_btn"><%= link_to 'All events', events_path %></td>
					<td class="show_btn"><%= link_to "Go to all Courses", courses_path %></td>
		<% end %>
		</tr>
		</table>
      <!-- end of span4 or span12 -->


  </div>  <!-- end of row -->


<h3>Polls</h3>



<% if can? :manage, @course %>
	<div class="pull-right">
		<%= link_to content_tag('span', 'add new poll', :class=>'icon-plus') , new_poll_path  %> 
	</div>
<% end %>

<% if @event.polls.count == 0 %>
	<p> no polls yet </p>
<% end %>

	<% @event.polls.each do |poll| %>

		<div class="row">
			<div class="span6">
					<h4><%= poll.questiontext %></h4>
					<% if can? :manage, @course %>
						<div class="pull-right">
							
							<% if poll.poll_enabled == true %>
    						<%= link_to content_tag('span', 'disable', :class=> 'icon-lock'), toggle_visibility_of_poll_path(poll) %>
    						<% else %>
    						<%= link_to content_tag('span', 'enable', :class=> 'icon-unlock'), toggle_visibility_of_poll_path(poll) %>    						
    						<% end %>

							<%= link_to content_tag('span', 'edit', :class=>'icon-edit') , edit_poll_path(poll)  %> &nbsp; &nbsp;
							<%= link_to content_tag('span', 'delete', :class=>'icon-trash'), poll, confirm: 'Are you sure that you want to delete this poll?', method: :delete %>
						</div>
					<% end %>
					<ol type="a">
					<% poll.choices.each do |choice| %>
						<li><%= choice.answertext %></li>
					<% end %>
				</ol>
			</div>
			<div class="span6">
				<h4> Result </h4>
				<% if can? :manage, @course %>
						<div class="pull-right">
							<% if poll.result_enabled == true %>
    						<%= link_to content_tag('span', 'disable', :class=> 'icon-lock'), toggle_visibility_of_result_path(poll) %>
    						<% else %>
    						<%= link_to content_tag('span', 'enable', :class=> 'icon-unlock'), toggle_visibility_of_result_path(poll) %>    						
    						<% end %>

						</div>
				<% end %>
				<div class="poll-result" id='<%= "poll_result_#{poll.id}" %>'>

				</div>
			</div>
		</div>  <!-- end of row -->
	<% end %>  <!-- end of each -->


