<div style="-webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease;" id="events-polls">
<%= render 'events/realtime_js_code' %>

<div ng-app ng-controller="UserViewCtrl">
<h2>Event <%= @event.event_type.capitalize %></h2>
<p>Course <%= link_to @event.course.name, @event.course %></p>

<div class="row well-small">
		<table class="table table-striped">
			<tr>
				<td> <strong>Tutor</strong> </td>
				<td><%= @event.tutor.full_name  %></td>
			</tr>
			<tr>
				<td> <strong>Weekday</strong> </td>
				<td><%= @event.weekday %> in <%= @event.week %> </td>
			</tr>
			<tr>
				<td> <strong>Date</strong> </td>
				<td>
					<%= "#{l(@event.beginDate, format: :long)}" %><%= ", #{@event.beginTime.strftime('%H:%M')}" if @event.beginTime.presence %><%= @event.endTime.presence ? " - #{@event.endTime.strftime('%H:%M')}" : " (open end)" %>

				</td>
			</tr>
			<tr>
				<td> <strong>Place</strong> </td>
				<td><%= @event.building %> <%= @event.room %></td>
			</tr>
			<tr>
				<td> <strong>Website</strong> </td>
				<td><%= @event.url %></td>
			</tr>
			
		</table>
<table>
	<tr>
		<% if can? :manage, @course%>

    		<td class="show_btn"><%= link_to content_tag('span', ' Add new event', :class=> 'icon-plus'), new_event_path()  %></td>
    		<td class="show_btn"><%= link_to content_tag('span', ' edit event', :class=>'icon-edit'), edit_event_path(@event) %></td>
    		<td class="show_btn"><%= link_to content_tag('span', ' delete event', :class=>'icon-trash'), @event, confirm: 'Are you sure that you want to delete this event?', method: :delete %></td>
					
		<td class="show_btn" id="create_room"><a href="javascript:void(0)">Start Chat</a></td>
		<% end %>
	</tr>
</table>
      <!-- end of span4 or span12 -->


  </div>  <!-- end of row -->



<h3>Feedback</h3>
<div id="mood">
	Speed 

	<div class="prof-control" id="speed">
		<span class="back"></span>
		<span class="left" ng-style="{width: (speed.down/2) +'%'}"></span>
		<span class="right" ng-style="{width: (speed.up/2) +'%'}"></span>
		<span class="center"></span>
		<span class="prof-control-ammount-left" >
			{{speed.down}} %
		</span>
		<span class="prof-control-ammount-right">
			{{speed.up}} %
		</span>
	</div>

	Volume

	<div class="prof-control" id="volume">
		<span class="back"></span>
		<span class="left" ng-style="{width: (volume.down/2) +'%'}"></span>
		<span class="right" ng-style="{width: (volume.up/2) +'%'}"></span>
		<span class="center"></span>
		<span class="prof-control-ammount-left" >
			{{volume.down}} %
		</span>
		<span class="prof-control-ammount-right">
			{{volume.up}} %
		</span>
	</div>

	Comprehensibility

	<div class="prof-control" id="comprehensibility">
		<span class="back"></span>
		<span class="left" ng-style="{width: (comprehensibility.down/2) +'%'}"></span>
		<span class="right" ng-style="{width: (comprehensibility.up/2) +'%'}"></span>
		<span class="center"></span>
		<span class="prof-control-ammount-left" >
			{{comprehensibility.down}} %
		</span>
		<span class="prof-control-ammount-right">
			{{comprehensibility.up}} %
		</span>
	</div>
</div>


<h3>Polls</h3>



<% if can? :manage, @course %>
	<div class="pull-right">
		<%= link_to content_tag('span', 'add new poll', :class=>'icon-plus') , new_poll_path  %> 
	</div>
<% end %>

<% if @event.polls.count == 0 %>
	<p> no polls yet </p>
<% else %>

	<div class="row" ng-repeat="p in results">
		<div class="span8" id="polls"> 
			<h4 ng-show="p.choices.length != 0">{{p.decisive && 'Question' || 'Poll'}}</h4>
			<h4 ng-show="p.choices.length == 0">Message</h4>
			<div class="btn-group">
			  <button ng-click="toggleVisibilityOfPoll(p.id)" class="btn" ng-class="p.poll_enabled && 'icon-lock' || 'icon-unlock'" > {{p.poll_enabled && 'disable' || 'enable'}}</button>
			  <button ng-click="editPoll(p.id)" class="btn icon-edit"> edit</button>
			  <button ng-click="deletePoll(p.id)" class="btn btn-danger icon-trash"> delete</button>
			</div>
			<div>
				<h5>{{p.text}}</h5>
				<ul>
					<li  style="list-style-type: lower-alpha;" ng-repeat="c in p.choices">
						{{c.text}}
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="p.choices.length != 0" class="span2" id="results">
			<h4>Result</h4>
			<button ng-click="toggleVisibilityOfResult(p.id)" class="btn" ng-class="p.result_enabled && 'icon-lock' || 'icon-unlock'" > {{p.result_enabled && 'disable' || 'enable'}}</button>
			<div style="width:230px;">
				<span style="margin-left:20px" class="sparklines pull-right" tooltip="{{p.tooltip1}}" values="{{p.pie1}}" decisive="false"></span>
				<span class="sparklines pull-right" tooltip="{{p.tooltip}}" values="{{p.pie}}" decisive="true" isdecisive="{{p.decisive}}"></span>
			</div>

		</div>
	</div>

<% end %>
<!--
	<% @event.polls.each do |poll| %>

		<div class="row">
			<div class="span6">
					<h4><%= poll.questiontext %></h4>
					<% if can? :manage, @course %>
						<div class="pull-right">
							
							<% if poll.poll_enabled == true %>
    						<%= link_to content_tag('span', 'disable', :class=> 'icon-lock'), toggle_visibility_of_poll_path(poll) %>
    						<% else %>
    						<%= link_to content_tag('span', 'enable', :class=> 'icon-unlock'), toggle_visibility_of_poll_path(poll) %>    						
    						<% end %>

							<%= link_to content_tag('span', 'edit', :class=>'icon-edit') , edit_poll_path(poll)  %> &nbsp; &nbsp;
							<%= link_to content_tag('span', 'delete', :class=>'icon-trash'), poll, confirm: 'Are you sure that you want to delete this poll?', method: :delete %>
						</div>
					<% end %>
					<ol type="a">
					<% poll.choices.each do |choice| %>
						<li><%= choice.answertext %></li>
					<% end %>
				</ol>
			</div>
			<div class="span6">
				<h4> Result </h4>
				<% if can? :manage, @course %>
						<div class="pull-right">
							<% if poll.result_enabled == true %>
    						<%= link_to content_tag('span', 'disable', :class=> 'icon-lock'), toggle_visibility_of_result_path(poll) %>
    						<% else %>
    						<%= link_to content_tag('span', 'enable', :class=> 'icon-unlock'), toggle_visibility_of_result_path(poll) %>    						
    						<% end %>

						</div>
				<% end %>
				<div class="poll-result" id='<%= "poll_result_#{poll.id}" %>'>

				</div>
			</div>
		</div> 
	<% end %>   -->

	<h3>Chat</h3>

	<div id="page">
		
		<header>
			<div id="icon"><img src="../assets/amcs_logo.png" alt="logo"></div>
			<div id="avatar"></div>
			<div id="stopIcon">
				<img class="hidden" id="stop" src="../assets/stop.png" alt="Disable Chat" title="Disable Chat">
			</div>
			<div id="status">
	<!--			<div id="slideStatus" style="float:left; padding: 0 3% 0 3%;"></div>    -->
			</div>

			<div id="logout"><img id="disconnect" alt="Logout" title="Logout" src ="../assets/logout.png"> </div>
		</header>
		
		<div id="memberContainer">
			<ul id="memberList"></ul>
		</div>
		
		<div id="chatContainer"></div>
		
		 <div id="inputContainer">
			<textArea id="input"></textArea>
		</div>
	</div>
	<div id="loginDialog">
		<div id="login_user"><label>User:</label><input type="text" id="jid"></div>
		<div id="login_pw"><label>Password:</label> <input type="password" id="password"></div>
		<div id="login_nick"><label>Nickname:</label> <input type="text" id="nickname"></div>
		<div id="login_room"><label>Room:</label> <input type="text" id="room"></div>
	</div>

	<div id="pmDialog" class="hidden">
		<textarea id="pmMessage"></textarea>	
	</div>
</div>
</div>


