<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <span class="event_error"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</span>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="event_group">
  <div class="event_fields">
    <%= f.label(:event_type, 'Type') %>
    <%= f.select(:event_type, options_for_select(event_types)) %>
  </div>
  <div class="event_fields">
    <%= f.label :course_id %>
    <%= f.select :course_id, options_from_collection_for_select(Course.all, :id, :name, params[:course_id]) %>
  </div>
</div>

<div class="event_group">
  <div class="event_fields">
    <%= f.label :tutor_id %>
    <%= f.select :tutor_id, options_from_collection_for_select(User.all, :id, :full_name) %>
  </div>
</div>

<div class="event_group">
  <div class="event_fields">
    <%= f.label :weekday %>
    <%= f.select :weekday, options_for_select(weekdays) %>
  </div>
   <div class="event_fields">
    <%= f.label :week %>
    <%= f.select :week, options_for_select(week_rotation) %>
  </div>
  </div>
<div class="event_group">
  <div class="event_fields">
    <%= f.label :beginDate %>
    <%= f.date_select :beginDate, :ignore_time => true %>
  </div>
  <div class="event_fields">
    <%= f.label :endDate %>
    <%= f.date_select :endDate, :ignore_time => true %>
  </div>
  </div>

<div class="event_group">
  <div class="event_fields">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  </div>
<div class="event_group">
  <div class="event_fields">
    <%= f.label :building %>
    <%= f.text_field :building %>
  </div>
  <div class="event_fields">
    <%= f.label :room %>
    <%= f.text_field :room %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
