<h2>Event <%= @event.event_type.capitalize %></h2><span class="pull-right"><%= link_to 'Show event details', '#', id: 'toggle-event-details', class: 'btn btn-small' %></span>
<p>Kurs <%= link_to @event.course.name, @event.course %></p>

<%= render 'events/studentview_realtime_js_code' %>

<div class="row well-small" id="studentview-event-details">
		<table class="table table-striped">
			<tr>
				<td> <strong>Tutor</strong> </td>
				<td><%= @event.tutor.full_name  %></td>
			</tr>
			<tr>
				<td> <strong>Wochentag</strong> </td>
				<td><%= @event.weekday %> in <%= @event.week %> </td>
			</tr>
			<tr>
				<td> <strong>Datum</strong> </td>
				<td>
					<%= "#{l(@event.beginDate, format: :long)}" %><%= ", #{@event.beginTime.strftime('%H:%M')}" if @event.beginTime.presence %><%= @event.endTime.presence ? " - #{@event.endTime.strftime('%H:%M')}" : " (open end)" %>

				</td>
			</tr>
			<tr>
				<td> <strong>Ort</strong> </td>
				<td><%= @event.building %> <%= @event.room %></td>
			</tr>
			<tr>
				<td> <strong>Website</strong> </td>
				<td><%= @event.url %></td>
			</tr>
		</table>
		</div>

<div style=" -webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease;" id="events-polls">
<div ng-app ng-controller="UserViewCtrl">
	<div class="row">
		<div class="span6" id="polls"> 
			<h3>Umfragen & Nachrichten</h3>
			<div ng-show="pollslength > 1">
			<span ng-click="decrementActivePoll()" class="btn btn-small"> &lt; {{activePoll + 1}}
				</span>
			</span>
				<span ng-click="incrementActivePoll()" class="btn btn-small">{{pollslength}} &gt;
				</span>
			</div>

			<div ng-repeat="(key, poll) in polls" ng-show="$index == activePoll">
				<h3 class="blinkOnce">{{poll.questiontext}}</h3>
				<div ng-repeat="msg in poll.messages" ng-switch="msg.type">
					<div ng-switch-when="0" class="alert alert-error">
						<span ng-click="closeMessage(poll,$index,msg)" class="close">[x]</span>
						<b>Falsch: </b>{{msg.text}}
					</div>
					<div ng-switch-when="1" class="alert alert-success">
						<span ng-click="closeMessage(poll,$index,msg)" class="close">[x]</span>
						<b>Korrekt: </b>{{msg.text}}
					</div>
					<div ng-switch-when="2" class="alert alert-info">
						<span ng-click="closeMessage(poll,$index,msg)" class="close">[x]</span>
						{{msg.text}}
					</div>
				</div>
				<ul>
					<li style="list-style-type: lower-alpha;" ng-repeat="c in poll.choices | orderBy:'position'">
						<input type="radio" ng-model="poll.choice_id" value="{{c.id}}" name="choice"/>
						{{c.answertext}}
					</li>
				</ul>
				<button ng-show="poll.choices.length != 0" ng-click="submitPoll(poll.choice_id, key)" class="btn btn-primary">submit</button>
			</div>
			<p ng-show="pollslength == 0">
				Im moment gibt es keine Nachrichten oder Umfragen.
			</p>
		</div>
		<div class="span4" id="results">
			<h3>Resultate:</h3>
			<div ng-show="results.length > 1">

				<span ng-click="decrementActiveResult()"> &lt;</span>
				<span>
					{{activeResult + 1}}
				</span>
				|
				<span>{{results.length}}</span>
				<span ng-click="incrementActiveResult()"> &gt;</span>
			</div>
			<div  ng-style="{ height : resHeight($index,activeResult) }" style="overflow:hidden" ng-repeat="p in results">
				<h3>{{p.text}}</h3>
				<span class="sparklines pull-right" tooltip="{{p.tooltip}}" values="{{p.pie}}" decisive="{{p.decisive}}"></span>
				<ul>
					<li style="list-style-type: lower-alpha;" ng-repeat="c in p.choices">
						{{c.text}}
					</li>
				</ul>
			</div>
			<p ng-show="results.length == 0">
				Im Moment liegen keine Ergebnisse vor.
			</p>
		</div>

	</div>
	<div class="row">
		
		<div class="span6"> 
		<div>Slide {{slideId}}</div>
			<div id="page">
				<header>
					<div id="icon"><img src="img/amcs_logo.png" alt="logo"></div>
					<div id="avatar"></div>
					<div id="stopIcon">
						<img class="hidden" id="stop" src="img/stop.png" alt="Disable Chat" title="Disable Chat">
					</div>
					<div id="status">
				<!--			<div id="slideStatus" style="float:left; padding: 0 3% 0 3%;"></div>    -->
					</div>

					<div id="logout"><img id="disconnect" alt="Logout" title="Logout" src ="img/logout.png"> </div>
				</header>

				<div id="memberContainer">
					<ul id="memberList"></ul>
				</div>

				<div id="chatContainer"></div>

				 <div id="inputContainer">
					<textArea id="input"></textArea>
				</div>
			</div>
				<button id="connect_room" class="btn btn-small">Connect to chat</button> 
				
			<!--  Login Dialog  -->

			<!--  Private Message Dialog  -->
			<div id="pmDialog" class="hidden">
					<textarea id="pmMessage"></textarea>	
			</div>

		</div>

		<div class="span4" id="mood">
			Geschwindigkeit 

			<div class="prof-control" id="speed">
				<span class="back"></span>
				<span class="left" ng-style="{width: (speed.down/2) +'%'}"></span>
				<span class="right" ng-style="{width: (speed.up/2) +'%'}"></span>
				<span class="center"></span>
				<button  ng-show="speed.canVote" class="btn btn-left" ng-click="submitControl('speed',-1)"> &lt; slower</button>
				<button  ng-show="speed.canVote" class="btn btn-right" ng-click="submitControl('speed',1)"> faster &gt;</button>
				<span class="prof-control-ammount-left" >
					{{speed.down}} %
				</span>
				<span class="prof-control-ammount-right">
					{{speed.up}} %
				</span>
			</div>

			Lautstärke

			<div class="prof-control" id="volume">
				<span class="back"></span>
				<span class="left" ng-style="{width: (volume.down/2) +'%'}"></span>
				<span class="right" ng-style="{width: (volume.up/2) +'%'}"></span>
				<span class="center"></span>
				<button ng-show="volume.canVote"  class="btn btn-left" ng-click="submitControl('volume',-1)"> &lt; lower</button>
				<button ng-show="volume.canVote"  class="btn btn-right" ng-click="submitControl('volume',1)"> louder &gt;</button>
				<span class="prof-control-ammount-left" >
					{{volume.down}} %
				</span>
				<span class="prof-control-ammount-right">
					{{volume.up}} %
				</span>
			</div>

			Verständlichkeit

			<div class="prof-control" id="comprehensibility">
				<span class="back"></span>
				<span class="left" ng-style="{width: (comprehensibility.down/2) +'%'}"></span>
				<span class="right" ng-style="{width: (comprehensibility.up/2) +'%'}"></span>
				<span class="center"></span>
				<button ng-show="comprehensibility.canVote" class="btn btn-left" ng-click="submitControl('comprehensibility',-1)"> &lt; again</button>
				<button ng-show="comprehensibility.canVote"  class="btn btn-right" ng-click="submitControl('comprehensibility',1)"> next &gt;</button>
				<span class="prof-control-ammount-left" >
					{{comprehensibility.down}} %
				</span>
				<span class="prof-control-ammount-right">
					{{comprehensibility.up}} %
				</span>
			</div>
		</div>
	</div>

</div>
