<h2>Event <%= @event.event_type.capitalize %></h2>
<p>Course <%= link_to @event.course.name, @event.course %></p>

<%= render 'events/realtime_js_code' %>

<div class="row well-small">
		<table class="table table-striped">
			<tr>
				<td> <strong>Tutor</strong> </td>
				<td><%= @event.tutor.full_name  %></td>
			</tr>
			<tr>
				<td> <strong>Weekday</strong> </td>
				<td><%= @event.weekday %> in <%= @event.week %> </td>
			</tr>
			<tr>
				<td> <strong>Date</strong> </td>
				<td>
					<%= "#{l(@event.beginDate, format: :long)}" %><%= ", #{@event.beginTime.strftime('%H:%M')}" if @event.beginTime.presence %><%= @event.endTime.presence ? " - #{@event.endTime.strftime('%H:%M')}" : " (open end)" %>

				</td>
			</tr>
			<tr>
				<td> <strong>Place</strong> </td>
				<td><%= @event.building %> <%= @event.room %></td>
			</tr>
			<tr>
				<td> <strong>Website</strong> </td>
				<td><%= @event.url %></td>
			</tr>
		</table>
		</div>

<div style=" -webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease;" id="events-polls">
<div ng-app ng-controller="UserViewCtrl">
	<div class="row">
		<div class="span6" id="polls"> 
			Fragen/Nachrichten:
			<div ng-show="pollslength > 1">

				<span ng-click="decrementActivePoll()"> &lt;</span>
				<span>
					{{activePoll + 1}}
				</span>
				|
				<span>{{pollslength}}</span>
				<span ng-click="incrementActivePoll()"> &gt;</span>
			</div>

			<div ng-repeat="(key, poll) in polls" ng-show="$index == activePoll">
				<h3 class="blinkOnce">{{poll.questiontext}}</h3>
				<div class="alert alert-error" ng-repeat="msg in poll.messages"><span ng-click="poll.messages.splice($index,1)" class="close">[x]</span>{{msg}}</div>
				<div ng-repeat="c in poll.choices | orderBy:'position'">
					<b>{{$index}}.</b> <input type="radio" ng-model="poll.choice_id" value="{{c.id}}" name="choice"/>
					{{c.answertext}}
				</div>
				<button ng-show="poll.choices.length != 0" ng-click="submitPoll(poll.choice_id, key)" class="btn btn-primary">submit</button>
			</div>
		</div>
		<div class="span4" id="results">
			Ergebnisse:
			<div ng-show="results.length > 1">

				<span ng-click="decrementActiveResult()"> &lt;</span>
				<span>
					{{activeResult + 1}}
				</span>
				|
				<span>{{results.length}}</span>
				<span ng-click="incrementActiveResult()"> &gt;</span>
			</div>
			<div  ng-style="{ height : resHeight($index,activeResult) }" style="overflow:hidden" ng-repeat="p in results">
				<h3>{{p.text}}</h3>
				<span class="sparklines pull-right" values="{{p.pie}}" decisive="{{p.decisive}}"></span>
				<div ng-repeat="c in p.choices">
					<b>{{$index}}.</b> {{c.text}}
				</div>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6"> 
			<div id="page">
				<header>
					<div id="icon"><img src="img/amcs_logo.png" alt="logo"></div>
					<div id="avatar"></div>
					<div id="stopIcon">
						<img class="hidden" id="stop" src="img/stop.png" alt="Disable Chat" title="Disable Chat">
					</div>
					<div id="status">
				<!--			<div id="slideStatus" style="float:left; padding: 0 3% 0 3%;"></div>    -->
					</div>

					<div id="logout"><img id="disconnect" alt="Logout" title="Logout" src ="img/logout.png"> </div>
				</header>

				<div id="memberContainer">
					<ul id="memberList"></ul>
				</div>

				<div id="chatContainer"></div>

				 <div id="inputContainer">
					<textArea id="input"></textArea>
				</div>
			</div>
				<button id="connect_room">Connect</button> 
				
			<!--  Login Dialog  -->

			<!--  Private Message Dialog  -->
			<div id="pmDialog" class="hidden">
					<textarea id="pmMessage"></textarea>	
			</div>

		</div>

		<div class="span4" id="mood">
			Geschwindigkeit 

			<div class="prof-control" id="speed">
				<span class="back"></span>
				<span class="left" ng-style="{width: (speed.down/2) +'%'}"></span>
				<span class="right" ng-style="{width: (speed.up/2) +'%'}"></span>
				<span class="center"></span>
				<button  ng-show="speed.canVote" class="btn btn-left" ng-click="submitControl('speed',-1)"> &lt; langsamer</button>
				<button  ng-show="speed.canVote" class="btn btn-right" ng-click="submitControl('speed',1)"> schneller &gt;</button>
				<span class="prof-control-ammount-left" >
					{{speed.down}} %
				</span>
				<span class="prof-control-ammount-right">
					{{speed.up}} %
				</span>
			</div>

			Lautstärke

			<div class="prof-control" id="volume">
				<span class="back"></span>
				<span class="left" ng-style="{width: (volume.down/2) +'%'}"></span>
				<span class="right" ng-style="{width: (volume.up/2) +'%'}"></span>
				<span class="center"></span>
				<button ng-show="volume.canVote"  class="btn btn-left" ng-click="submitControl('volume',-1)"> &lt; leiser</button>
				<button ng-show="volume.canVote"  class="btn btn-right" ng-click="submitControl('volume',1)"> lauter &gt;</button>
				<span class="prof-control-ammount-left" >
					{{volume.down}} %
				</span>
				<span class="prof-control-ammount-right">
					{{volume.up}} %
				</span>
			</div>

			Verständlichkeit

			<div class="prof-control" id="comprehensibility">
				<span class="back"></span>
				<span class="left" ng-style="{width: (comprehensibility.down/2) +'%'}"></span>
				<span class="right" ng-style="{width: (comprehensibility.up/2) +'%'}"></span>
				<span class="center"></span>
				<button ng-show="comprehensibility.canVote" class="btn btn-left" ng-click="submitControl('comprehensibility',-1)"> &lt; nochmal</button>
				<button ng-show="comprehensibility.canVote"  class="btn btn-right" ng-click="submitControl('comprehensibility',1)"> weiter &gt;</button>
				<span class="prof-control-ammount-left" >
					{{comprehensibility.down}} %
				</span>
				<span class="prof-control-ammount-right">
					{{comprehensibility.up}} %
				</span>
			</div>
		</div>
	</div>
</div>
