<p id="notice"><%= notice %></p>
<script src="/assets/sparklines.js"></script>
<script>
function actualize(eId) {
	var url = "/poll_results/refresh/"+eId;
	jQuery.get(
	url,
	{},
	function(s){
		var r = s;
		for(q in r){
			if(r[q].text){
				var snippet = "";
				var pie = "";
				var pieColors = []
				for(c in r[q].choices) if(r[q].choices[c].text){
					snippet += '<div class="poll-result">';
					//snippet += 	'<div class="poll-result-count"> '+r[q].choices[c].count+' of '+r[q].total+'  ( '+Math.floor((r[q].choices[c].count/r[q].total)*100)+'% )</div>';
					snippet += 	'<h4>'+r[q].choices[c].text+'  '+r[q].choices[c].count+' of '+r[q].total+'  ( '+Math.floor((r[q].choices[c].count/r[q].total)*100)+'% )</h4>';
					snippet += 	'<div class="poll-result-bar-wrap">';
					//snippet += 	'<div class="poll-result-bar '+r[q].choices[c].correct_class+'" style="width: '+(r[q].choices[c].count/r[q].total)*100+'%"></div>';
					if(c < r[q].choices.length - 1){
						pie += r[q].choices[c].count + ",";
						
					}else{
						pie += r[q].choices[c].count;
						
					}
					pieColors.push((r[q].choices[c].correct)?"#00ff00":"#ff0000")
					snippet += '</div>';
				}
				snippet +=  '<span class="sparklines" values="'+pie+'" colors="'+pieColors+'"></span>'
				jQuery("#poll_result_"+q).html(snippet);
				
			}
		}
		jQuery(".sparklines").sparkline('html',{ width : '100', height : '100', type : 'pie', sliceColors: pieColors});
	});
	setTimeout(function(){actualize(eId)},1500);
}
jQuery(function(){
	actualize(<%=@event.id%>);
});
</script>
<p><%= @event.event_type %></p>
<p><%= @event.course.name %></p>
<p><%= @event.tutor.full_name %></p>
<p><%= @event.weekday %></p>
<p><%= @event.beginDate %></p>
<p><%= @event.endDate %></p>
<p><%= @event.week %></p>
<p><%= @event.url %></p>
<p><%= @event.building %></p>
<p><%= @event.room %></p>

<% @event.polls.each do |poll| %>
<div>
	<div>
		<legend>
			<h3><%= poll.questiontext %></h3>
			<div>
				<%= link_to 'Edit' %>
				<%= link_to 'Delete' %>
			</div>
		</legend>
	</div>
	<div class="poll-result" id="poll_result_<%=poll.id%>">

	</div>
</div>
<% end %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
