<p id="notice"><%= notice %></p>
<script src="/assets/sparklines.js"></script>
<script>
function actualize(eId) {
	var url = "/poll_results/refresh/"+eId;
	jQuery.get(
	url,
	{},
	function(s){
		var r = s;
		for(q in r){
			if(r[q].text){
				var snippet = "";
				var pie = [];
				var pieValues = [];
				var pieColors = [];
				var decisive = false;
				var firstCorrect = r[q].choices[0].correct;
				for(c in r[q].choices) if(r[q].choices[c].text){
					pieValues.push({correct:r[q].choices[c].correct,value:r[q].choices[c].count});
					if(firstCorrect!=r[q].choices[c].correct)
						decisive = true;
					snippet += '<div class="poll-result">';
					snippet += 	'<h4>'+r[q].choices[c].text+'  '+r[q].choices[c].count+' of '+r[q].total+'  ( '+Math.floor((r[q].choices[c].count/r[q].total)*100)+'% )</h4>';
					snippet += 	'<div class="poll-result-bar-wrap">';
					snippet += '</div>';
				}
				
				
				for(i in pieValues){
					if(decisive){
						var j = (pieValues[i].correct)?0:1;
						pie[j] =  (pie[j]==undefined)?pieValues[i].value:pie[j]+pieValues[i].value;
					} else {
						pie.push(pieValues[i].value)
					}
				}
				
				snippet +=  '<span class="sparklines" values="'+pie.join(",")+'" decisive="'+decisive+'"></span>'
				jQuery("#poll_result_"+q).html(snippet);
				
			}
		}
		jQuery(".sparklines").each(function(idx){
			var dec = Boolean(jQuery(this).attr("decisive"));
			jQuery(this).sparkline('html',{ width : '100', height : '100', type : 'pie', sliceColors:((dec)? ["00ff00","#ff0000"] : undefined)})
		});
	});
	setTimeout(function(){actualize(eId)},1500);
}
jQuery(function(){
	actualize(<%=@event.id%>);
});
</script>
<p><%= @event.event_type %></p>
<p><%= @event.course.name %></p>
<p><%= @event.tutor.full_name %></p>
<p><%= @event.weekday %></p>
<p><%= @event.beginDate %></p>
<p><%= @event.endDate %></p>
<p><%= @event.week %></p>
<p><%= @event.url %></p>
<p><%= @event.building %></p>
<p><%= @event.room %></p>

<% @event.polls.each do |poll| %>
<div>
	<div>
		<legend>
			<h3><%= poll.questiontext %></h3>
			<div>
				<%= link_to 'Edit' %>
				<%= link_to 'Delete' %>
			</div>
		</legend>
	</div>
	<div class="poll-result" id="poll_result_<%=poll.id%>">

	</div>
</div>
<% end %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
