<div class="container">
  <div class="row">
    <div class="span4">
      <dl class="dl-horizontal">
        <dt>browse</dt>
        <dd><i class="icon-th"></i> <%= link_to (t "global.courses"), courses_path %></dd>
        <dd><i class="icon-time"></i> <%= link_to (t "global.semesters"), terms_path %></dd>
        <dd><i class="icon-book"></i> <%= link_to (t 'global.lectures'), lectures_path %></dd>
        <dd><i class="icon-list"></i> <%= link_to (t 'global.chairs'), chairs_path %></dd>
        <dd><i class="icon-sitemap"></i> <%= link_to (t 'global.institutes'), institutes_path %></dd>
        <dd><i class="icon-beaker"></i> <%= link_to (t 'global.faculty'), faculties_path %></dd>
      </dl>     
    </div>

    <div class="span4">
      <dl class="dl-horizontal">
        <dt>navigate</dt>

        <dd> <%= link_to root_path   do %><i class="icon-home"></i>    <%=t "global.home"    %> <% end %> </dd>
        <dd> <%= link_to search_path do %><i class="icon-search"></i>  <%=t "global.search"  %> <% end %> </dd>
        <dd> <%= link_to users_path  do %><i class="icon-list-ol"></i> <%=t "global.ranking" %> <% end %> </dd>

        <% if current_user %>
          <dd><i class="icon-envelope"></i> <%= link_to t("notification", :count => current_user.unread_notifications.count), notifications_path %></dd>
        <% end %>
      </dl>
    </div>

    <% if !current_user.nil? and current_user.admin? %>

    <div class="span4 ">
      <dl class="dl-horizontal">
        <dt>admin</dt>
        <dd><i class="icon-user"></i> <%= link_to (t 'moderation'), users_moderation_path %></dd>
        <dd><i class="icon-comment-alt"></i> <%= link_to "feedback (#{Feedback.where(read: false).count})", feedbacks_path %></dd>
        <dd><i class="icon-flag"></i> <%= link_to 'reports', reports_path %></dd>
        <dd><i class="icon-twitter"></i> <%= link_to "twitter", 'http://twitter.com/_auditorium' %></dd>
        <dd><i class="icon-github"></i> <%= link_to "github", "https://github.com/auditorium/auditorium" %></dd>
      </dl>
    </div>

    <% else %>

    <div class="span4">
      <dl class="dl-horizontal">
        <dt>
        need help?
        </dt>
        <dd> <%= link_to "http://twitter.com/_auditorium"           do %><i class="icon-twitter">  </i> twitter <% end %></dd>
        <dd> <%= link_to "https://github.com/auditorium/auditorium" do %><i class="icon-github">   </i> github   <% end %></dd>
        <dd> <%= link_to "mailto:auditorium@inftex.net"                    do %><i class="icon-envelope"> </i> <%= t('write_us_email') %> <% end %></dd>
      </dl>
    </div>

    <% end %>

  </div>
</div>
