<%= form_for(@poll_result) do |f| %>
  <% if @poll_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll_result.errors.count, "error") %> prohibited this poll_result from being saved:</h2>

      <ul>
      <% @poll_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userId %><br />
    <%= f.number_field :userId %>
  </div>
  <div class="field">
    <%= f.label :questionId %><br />
    <%= f.number_field :questionId %>
  </div>
  <div class="field">
    <%= f.label :choiceId %><br />
    <%= f.number_field :choiceId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
