<%= form_for(@poll_result) do |f| %>
  <% if @poll_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll_result.errors.count, "error") %> prohibited this poll_result from being saved:</h2>

      <ul>
      <% @poll_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
		uid<%= f.number_field :userId, :value => params[:userId]%>
		qid<%= f.number_field :questionId, :value => params[:questionId]%>
	</div>
	<div>
	<%= @p.questiontext %>
	<% @p.choices.each do |c|  %>
		<div>
			<%= radio_button_tag( :choiceId, c.id) %>
			<%= c.answertext  %>	
		</div>
	<%end%>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
