<h1>Listing poll_results</h1>


<div class="poll-results">
	<% @poi.each do |r| %>
	<div class="poll-result">
		<div class="poll-result-count"><%=r.count%></div>
		<div class="poll-result-bar-wrap">
			<div class="poll-result-bar" style="width: <%= r.length %>"></div>
		</div>
	</div>
	<% end %>
</div>

<table>
  <tr>
    <th>Userid</th>
    <th>Questionid</th>
    <th>Choiceid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  
  
<% @poll_results.each do |poll_result| %>
  <tr>
    <td><%= poll_result.userId %></td>
    <td><%= poll_result.questionId %></td>
    <td><%= poll_result.choiceId %></td>
    <td><%= link_to 'Show', poll_result %></td>
    <td><%= link_to 'Edit', edit_poll_result_path(poll_result) %></td>
    <td><%= link_to 'Destroy', poll_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poll result', new_poll_result_path %>
