<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @poll_result.userId %>
</p>

<p>
  <b>Questionid:</b>
  <%= @poll_result.questionId %>
</p>

<p>
  <b>Choiceid:</b>
  <%= @poll_result.choiceId %>
</p>


<%= link_to 'Edit', edit_poll_result_path(@poll_result) %> |
<%= link_to 'Back', poll_results_path %>
