<div style="overflow:hidden; max-height:0px; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease;" id="course_events">
<% if @events.count == 0 %>  
   No events, yet.
<% else %> 
	<table class="table announcement-teaser">
    <tr>
      <th> Event </th>
      <th> Tutor </th>
      <th> Datum </th>
      <th> Ort   </th>
      <th> Action   </th>
    </tr>
  <% @events.first(5).each do |event| %>
    <tr>
      <td><%= event.event_type      ? event.event_type : " - " %></td>
      <td><%= event.tutor.full_name ? event.tutor.full_name : " - "  %></td>
      <td><%= event.beginDate %> <br> <%= event.endDate %></td>
      <td><%= event.building        ? event.building : " - " %> 
          <%= event.room            ? event.room : " - " %></td>
      <td>
        <small>
          <b class="icon-question-sign">&nbsp;<%= link_to "add poll", new_poll_path %></b> <br>
          <b class="icon-edit">&nbsp;<%= link_to "edit", edit_event_path(event) %></b> <br>
          <b class="icon-trash">&nbsp;<%= link_to 'delete', event, confirm: 'Are you sure?', method: :delete %></b>

        </small>
      </td>
		</tr>  
    <tr style="border:none">
      <td collspan="5" style="border:none">
          Pollslist<br>
          <% event.polls.each do |poll| %>
            <%= render :partial => 'polls/oneline_poll',  :locals => { :poll => poll} %>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>


<% if current_user and current_user.may_edit_course(@course) %>
  <%= link_to 'Add a new event.', new_event_path(:post_type => 'info', :course_id => @course.id) %>
<% end %>
</div>