<div style="overflow:hidden; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease;" id="course_events">

<% if @events.count == 0 %>  
   No events, yet.

<% else %> 
	<table class="table announcement-teaser pink-teaser">
    <tr>
      <th>What?</th>
      <th>When?</th>
      <th>Where?</th>
      <th>Course</th>
      <th>Lecturer</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% @events.first(5).each do |event| %>
    <tr>
      <td><b><%= link_to event.event_type.capitalize, event %></b></td>
      <td>
        <%= "#{l(event.beginDate, format: :long)}" %><br />
        <%= "From #{event.beginTime}" if event.beginTime.presence %><%= event.endTime.presence ? " to #{event.endTime}" : " (open end)" %>
      </td>
      <td><%= event.room.presence or event.building.presence ? "#{event.building} #{event.room}" : 't.b.a.' %></td>
      <td><%= link_to event.course.name, event.course %></td>
      <td><%= event.tutor.full_name %></td>
      <% if can? :manage, @course %>
        <td><%= link_to "Add a new poll", new_poll_path %></td>
        <td>
          <%= link_to "Edit", edit_event_path(event), class: 'btn btn-small btn-warning' %>
          <%= link_to 'Delete', event, confirm: 'Are you sure?', method: :delete, class: 'btn btn-small btn-danger' %>
        </td>
      <% end %>
		</tr>  
  <% end %>
</table>
<% end %>

</div>

