<% if !@course.approved? %>
<div class="alert alert-info">
  <% if can? :approve, @course %>
  <%= link_to 'approve course', approve_course_path(@course), class: 'btn btn-success' %>
  <%= link_to 'delete course', @course, class: 'btn btn-danger', confirm: 'Are you sure that you want to delete this course?', method: :delete %>
  <% end %>
  This course was suggested and will be checked by our moderators. You can still interact with this course like with approved courses. 
</div>
<% end %>

<div class="hero-unit">
  <h2>
    <%= " #{@course.name}" %>
    <small><%=link_to "(#{@course.term.code})", term_path(@course.term) %></small>
  </h2></br>
  <h4>
	Discription
  </h4>
  <% unless @course.description.nil? or @course.description.empty? %>
    <%= markdown(@course.description) %>
    <% else %>
    <%= link_to 'Add a description to the course', edit_course_path(@course) if can? :manage, @course %> 
  <% end %>

</br>
  <h4>Member</h4>
    <table class="table table-borderless member-list">
      <%= render 'courses/member-list' %>
    </table>


<table style="width:100%">
	<tr><td style="width:50%;border-right:solid thin #bbb;vertical-align:top;">

<!--Further information-->

  <h4><b>Further information</b></h4>
  <ul style="list-style: none;">  
    <li><% unless @course.url.presence %>
      <b><%= (can? :manage, @course) ? (link_to 'Add website url to the course', edit_course_path(@course)) : 'Not available yet' %></b> 
    <% else %>
      <%= link_to 'Website to course', @course.url, :target => '_blank' %>
    <% end %>
  </li>
    <li><%= link_to "All courses overwiew", lecture_path(@course.lecture, :noredirect => true) %></li>
    <li> 
      <% if can? :manage, @course.recordings.build %>
         <%= link_to "Currently #{pluralize @course.recordings.published.size, 'recording'}", 			course_recordings_path(@course) %>
	<li> <%= link_to 'Add a new record', new_course_recording_path(@course) %> </li>
      	<% else %>
        <%= link_to "View #{pluralize @course.recordings.published.size, 'recording'} for this course.", 			course_recordings_path(@course) if @course.recordings.published.size > 0 %>
	</hr>
      <% end %>
    </li>
  </ul>
  </p>
  </td><td style="width:50%;vertical-align:top;padding-left:30px;">

	<h4><b>Possible actions</b></h4>

	<% if current_user.is_course_maintainer? @course or current_user.admin? %>
      <p><%= link_to pluralize(@course.membership_requests.keep_if{|m| !m.read?}.count, 'Membership request'), membership_requests_path%></p>
      <% end %>

<!-- CanCan see models/ability.rb and :manage_xy is within the course_controller -->
	<% if can? :manage, @course %>
      
      <% if can? :manage_users, @course %>
      <p><%= link_to content_tag('span', ' Manage users', :class=> 'icon-user'), '#manage-users-modal', 'data-toggle'=>"modal" %></p>
      <% end %>
      <p><%= link_to content_tag('span', ' Edit course',:class=>'icon-edit'), edit_course_path(@course)%>
      </p>
      <p><%= link_to content_tag('span', ' Add new semester', :class=> 'icon-plus'), new_course_path(:lecture_id => @course.lecture.id) %></p>
      <% if can? :delete, @course %>
      <p><%= link_to content_tag('span', ' delete course', :class=>'icon-trash'), @course, confirm: 'Are you sure that you want to delete this course?', method: :delete%></p>
      <% end %>
    <% end %>
	<p><div class='<%= "follow-button follow-button-#{@course.id}" %>'>
        <%= render :partial => 'shared/follow_button', :locals => { :course => @course, :block => true } 		%>
      </div></p>

</td>
</tr>

</table>

	
</div><!--top-->


<div class="row-fluid">
<!--event-->

<script>

   function toggleEventsShow(id) {
    if(jQuery(id).height() == 0) {
     jQuery(id).css("max-height","99999px");
     } else {

      jQuery(id).css("max-height","0px");
     }
   }
 </script> 
  <div class="span8">
<% if can? :manage_events, @course %>


<table><tr><th>
<span style="cursor:pointer;float:left;" onclick="toggleEventsShow('#course_events')"><h3>Events</h3>
</span>
</th><th>
<span style="float:right; padding:5px;font-weight:none;">
		<% if current_user and current_user.may_edit_course(@course) %>
  		
		<%= link_to content_tag('span', ' Add new event', :class=> 'icon-plus'), new_event_path(:post_type => 'info', :course_id => @course.id), :class => 'btn btn-link' %>
		<% end %>
</span>

</th></tr></table>

	<% if @events.count > 1 %>
         	<p class="pull-right">
     			<%= render 'courses/events_overview'%> 
		</p>
	<% end %> 
<% end %> 



	<% if can? :manage, @course %>
<table style="width:100%;">
	<tr><th>
<span style="cursor:pointer;float:left;" onclick="toggleEventsShow('#course_announcements')"><h3>Announcements</h3></span>
	
	</th>
	<th>
<span style="float:right;padding:5px;font-weight:none;">
        <%= link_to content_tag('span', ' Add new Announcements', :class=> 'icon-plus'), new_post_path(:post_type => 'info', :course_id => @course.id), :class => 'btn btn-link' %>
      	<% end %> 
	</span>

	</th>
	</tr>
</table>
      <% if @infos.count > 5 %>
      <p class="pull-right"><small><%= link_to 'Show all announcements', course_announcements_path(@course), class: "btn btn-link" %></small></p> 
      <% end %>
    </h3>      
    <%= render 'courses/announcement_overview'%>

      

    <table style="width:100%;">
	<tr><th>
 <span style="cursor:pointer;float:left;" onclick="toggleEventsShow('#course_questions')">
	<h3> Questions  </h3>
	    </th>
	    <th>
	<%= link_to content_tag('span', ' Add new Question', :class=> 'icon-plus'), new_post_path(:post_type => 'question', :course_id => @course.id), :class => 'btn btn-link' %>
 </span>
	</th></tr>
    	
	</table>
 
    <%= render 'courses/question_stream' %>
  </div>

  <div class='span4 vertical-border'>
    <hr class="visible-phone"></hr>
    

     
     
	

      
      <% unless current_user.admin? %>
        <% unless current_user.is_course_maintainer? @course %>
        <p><%= button_to "Make me maintainer", create_membership_request_path(:course_id => @course.id, :membership_type => 'maintainer'), :class => "btn btn-small btn-primary btn-block", 'data-disable-with' => 'loading...' %></p>
        <% end %>
        <% unless current_user.is_course_editor? @course or current_user.is_course_maintainer? @course %>
        <p><%= button_to "Make me editor", create_membership_request_path(:course_id => @course.id, :membership_type => 'editor'), :class => "btn btn-small btn-block", 'data-disable-with' => 'loading...' %></p>
        <% end %>
      <% end %>
      
    
   
</div>
<% if can? :manage_users, @course %>
<%= render :partial => 'courses/manage_users_modal', :locals => { :course => @course }%>
<% end %>
  
